.box {
background-color: #009988;
    margin: 15px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    border: 1px solid #000;
    border-collapse: collapse;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    border: 1px solid #000;
    border-collapse: collapse;
}
